<body>

<h1>Sign Up</h1>
<br>
<form action="/users" method="post">
<label>What would you like your username to be?: </label>
<input type="text" name="username">
<br>
<br>
<label>What would you like your password to be?: </label>
<input type="password" name="password"> 
<br>
<br>
<input type="submit" value="Create your account">
</form>

</body>
