

<body>

<h1>Study Lists</h1>

<% if current_user.study_lists.count == 0 %>
<h3>You have no study lists created yet.</h3>
<% else %>
<h2>Here are all of your study lists so far:</h2><br>
<% @user.study_lists.each do |studylist| %>
<li><a href="/studylists/<%= studylist.id %>">List for <%= studylist.topic %></li></a><br>
<% end %>
<% end %><br><br><br><br>

<a href="/users/index"><button>Back to homepage</button></a>

</body>

