<body>
<h1>Create a new Study List</h1>
<br>
<form action="/studylists" method="post">
<label>Enter the topic for your study list</label> 
<input type="text" name="topic">
<br>
<br>
<input type="submit" value="Create Study List">
</form>

</body>